@page "/timerDemo"

<p>@_counter</p>

@code {
    int _counter = 0;
    System.Timers.Timer _timer;

    public void Increment()
    {
        _counter += 1;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        _timer = new System.Timers.Timer(1000);
        _timer.Elapsed += (sender, e) => Increment();
        _timer.Start();
    }
}
