@page "/AsteroidsInserted"
<h1>Asteroids</h1>

<p>This example uses PHP component as an inner component.</p>
<p>You can control the rocker by buttons or keyboard([left/right]arrow and f(fire)).</p>
<Asteroids.AsteroidsComponent/>